footer{
    background: var(--footerColor);
    color: var(--footerTextColor);
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 6rem;
}

@media screen and (max-width: 600px) {
    footer{
        padding: 4rem 1rem;
    }
}