.section-history{
    background-color: white;
    color: black;
}
.section-history .section-body{
    margin-top: 1rem;
    display: flex;
}
.section-history .section-body .history-text{
    width: 50%;
    text-align: justify;
    padding-right: 2.5rem;
}
.section-history .section-body .history-image{
    width: 50%;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
}
.section-history .section-body .history-image .history-image_content{
    height: min-content;
    position: relative;
}
.section-history .section-body .history-image .history-image_content:after{
    content: "";
    width: 200px;
    height: 120%;
    background-color: orange;
    position: absolute;
    z-index: -2;
    left: -15px;
    top: 50%;
    transform: translateY(-50%);

}

.section-history .section-body .history-image img{
    width: 100%;
    z-index: 20;
}
@media screen and (max-width: 900px) {
    .section-history .section-body .history-image {
        display: none;
    }
    .section-history .section-body .history-text{
        width: 100%;
        padding-right: 0;
    }
}